@use '../util/breakpoints' as breakpoints;
@use '../util' as *;
.container {
    padding: 0 rem(255, 16); // for mobile
    max-width: rem(1110, 16);
    margin: 0 auto;

    @include breakpoints.breakpoint(large) {
        padding: 0;
    }
}


